html, body, .main-wrapper, .main {
    height: 100%;
    overflow: hidden;
}

.main-wrapper {
    position: relative;
}

.header {
    background-color: rgba(255,255,255, .75);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    padding: .625em;
    width: 100%;

    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.header > .button {
    margin-bottom: 0;
}

.show-filters {
    float: left;
}

.profile {
    float: right;
}

.main {
    overflow: hidden;
}

.add-place {
    border-radius: 50%;
    border: 0;

    display: none;
    height: 3em;
    width: 3em;
    margin-bottom: 0;

    position: absolute;
    bottom: 5%;
    left: 5%;

    background-color: #2795b6;
}

#map {
    height: 100%;
    width: 100%;
}

#map img {
    max-width: none;
}

.map-area {
    height: 100%;
    width: 100%;

    float: right;

    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.filters {
    background-color: #777;

    margin-left: -100%;
    height: 100%;
    width: 80%;

    float: left;

    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.subsection {
    background-color: #fff;

    position: absolute;
    top: 100%;
    z-index: 3;

    padding: 4.15em 1em 1em 1em;
    height: 100%;
    width: 100%;

    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
}

.menu-open .map-area {
    margin-right: -80%;
}

.menu-open .header {
    left: 80%;
}

.menu-open .filters {
    margin-left: 0;
}

.sub-open .subsection {
    top: 0;
}

@media (min-width: 30em) {
    .filters {
        width: 40%;
    }

    .menu-open .map-area {
        margin-right: -40%;
    }
}

@media (min-width: 60em) {
    .header {
        background-color: transparent;
        position: absolute;
    }

    .show-filters {
        display: none;
    }

    .profile {
        float: none;
    }

    .filters {
        float: left;

        margin: 0;
        width: 20%;
    }

    .map-area {
        float: left;
        margin: 0;
        width: 80%;
    }
}

.profile__pic-wrap {
    float: left;
    width: 28%;
}

.profile__name {
    float: left;
    margin-left: 5%;
    width: 67%;
}

.profile__fname {
    font-size: 2.2em;
    margin: 0;
}

.profile__pic{
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    width: 100%;
}

.uibutton {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.6em 0.375em;
    border: 1px solid #999;
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: bold 1.3em/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    white-space: nowrap;
    cursor: pointer;
    /* outline: none; */
    color: #333;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.uibutton:hover,
.uibutton:focus,
.uibutton:active {
    border-color: #777 #777 #666;
}

.uibutton:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.uibutton.confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5B74A8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
}

.uibutton.confirm:active {
    border-color: #29447E;
    background: #4F6AA3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.relative {
    position: relative;
}

.facebook-login {
    position: absolute;
    top: 0;
    left: 0;

    padding-top: 50%;
    height: 100%;
    width: 100%;

    background-color: rgba(255,255,255, 0.9);
    text-align: center;
}